

<table border="0" cellpadding="0" cellspacing="0" width="600">
<!-- fwtable fwsrc="Untitled" fwpage="Page 1" fwbase="Email-Lab-Virt-Confirmacion.png" fwstyle="Generic" fwdocid = "222303945" fwnested="0" -->
  <tr>
   <td><img src="cid:spacer.gif" width="600" height="1" border="0" alt=""></td>
   <td><img src="cid:spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>

  <tr>
   <td><img name="EmailLabVirtConfirmacion_r1_c1" src="cid:Email-Lab-Virt-Confirmacion_r1_c1.png" width="600" height="109" border="0" alt=""></td>
   <td><img src="cid:spacer.gif" width="1" height="109" border="0" alt=""></td>
  </tr>
  <tr>
   <td valign="top" bgcolor="#ffffff"><p style="margin:0px">
   	<h4>¡Bienvenido {{usuario}} a los Laboratorios Virtuales!</h4>
</br>
<p>
Si recibe este correo electrónico, es porque usted se ha registrado con éxito en nuestra plataforma. Ahora puede explorar soluciones TIC en Cundinamarca para hacer parte de una red comercial en la que se integran las tecnologías y la Internet para mejorar su competitividad y fortalecer su empresa.
</p>
<p>
Muy pronto nos pondremos en contacto para informarle los avances del proyecto y cómo puede aprovechar todos los beneficios como usuario.
</p>
</br>
</br>
<p>
¡Muchas gracias!
</p>
<p>cordialmente</p>
EQUIPO LAB VIRTUALES
</br>
</p></td>
   <td><img src="cid:spacer.gif" width="1" height="261" border="0" alt=""></td>
  </tr>
  <tr>
   <td><img name="EmailLabVirtConfirmacion_r3_c1" src="cid:Email-Lab-Virt-Confirmacion_r3_c1.png" width="600" height="357" border="0" alt=""></td>
   <td><img src="cid:spacer.gif" width="1" height="357" border="0" alt=""></td>
  </tr>
</table>
